* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    /* height: 100%; */
    background: linear-gradient(89deg,#86c663, #5d4ebc, #610b0b);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.mainContainer {
    padding: 53.5px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.heading {
    font-family: "Lobster", serif;
    font-weight: 1000;
    font-size: 4rem;
    text-align: center;
}

a {
    font-size: 1.5rem;
    margin-left: 30px;
    font-family: "Playwrite GB S", serif;
    font-weight: 700;
    color: rgb(64, 64, 180);
}

.paragraph1, .paragraph2, .paragraph3, .paragraph4 {
    font-size: 2rem;
    /* text-align: center; */
    margin: 20px;
    margin-left: 60px;
    font-family: "Dancing Script", serif;
    font-weight: 700;
}